/* used !important to override styling config set by materialUI */

@import url("https://fonts.googleapis.com/css?family=Courgette");

/* applied google font */
.headerName {
	font-family: "Courgette", sans-serif !important;
	font-weight: 600 !important;
}

.routeLink {
	color: rgb(36, 35, 35);
}

/* references:

https://fonts.google.com/specimen/Courgette?preview.text=Car%20Control&preview.text_type=custom

https://stackoverflow.com/questions/40769551/how-to-use-google-fonts-in-react-js

*/
